<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TransformU</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <style>
    html{
        background: linear-gradient(0.25turn, #7fa63f, #7ebd4e, #f69d3c);;
    }
    .card{
        margin-top: 10%;
        color: orange;
        background-color: black;
        border-radius: 25px;
        
    }
    .card .card-title{
        text-align: center;
    }
   
  </style>
</head>
<body>
    
    <div class="container">
        <div class="card">
            <div class="card-content">
              <span class="card-title">Meals</span>
              <form class="col">
                <div class="row">
                  <div class="input-field col s6">
                      <label for="item-name">BreakFast</label>
                    
                    </div>
                  <div class="input-field col s6">
                      
                      <label for="item-calories">
                        <%=breakfast%>
                      </label>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="input-field col s6">
                      <label for="item-name">Lunch</label>
                    
                    </div>
                  <div class="input-field col s6">
                      
                      <label for="item-calories">
                        <%=lunch%>
                      </label>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="input-field col s6">
                      <label for="item-name">Dinner</label>
                    
                    </div>
                  <div class="input-field col s6">
                      
                      <label for="item-calories">
                        <%=dinner%>
                      </label>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="input-field col s6">
                      <label for="item-name">Snacks 1</label>
                    
                    </div>
                  <div class="input-field col s6">
                      
                      <label for="item-calories">
                        <%=snack1%>
                      </label>
                  </div>
                  
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="item-name">Snacks 2</label>
                      
                      </div>
                    <div class="input-field col s6">
                        
                        <label for="item-calories">
                          <%=snack2%>
                        </label>
                    </div>
                    
                  </div>
              </form>
            </div>
          </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="card-content">
              <span class="card-title">Meals</span>
              <form class="col">
                <div class="row">
                  <div class="input-field col s6">
                      <label for="item-name">BreakFast</label>
                    
                    </div>
                  <div class="input-field col s6">
                      
                      <label for="item-calories">
                        <%=breakfast1%>
                      </label>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="input-field col s6">
                      <label for="item-name">Lunch</label>
                    
                    </div>
                  <div class="input-field col s6">
                      
                      <label for="item-calories">
                        <%=lunch1%>
                      </label>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="input-field col s6">
                      <label for="item-name">Dinner</label>
                    
                    </div>
                  <div class="input-field col s6">
                      
                      <label for="item-calories">
                        <%=dinner1%>
                      </label>
                  </div>
                  
                </div>
                <div class="row">
                  <div class="input-field col s6">
                      <label for="item-name">Snacks 1</label>
                    
                    </div>
                  <div class="input-field col s6">
                      
                      <label for="item-calories">
                        <%=snack11%>
                      </label>
                  </div>
                  
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="item-name">Snacks 2</label>
                      
                      </div>
                    <div class="input-field col s6">
                        
                        <label for="item-calories">
                          <%=snack21%>
                        </label>
                    </div>
                    
                  </div>
              </form>
            </div>
          </div>
    </div>
    
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> 
</body>
</html>